<%# TIMELINE %>
<div class="home-timeline">
  <div class="d-flex justify-content-center m-5">
    <h1 id="timeline-title">How it works</h1>
  </div>

  <div class="container">
    <%# TIMELINE ROW 1 %>
    <div class="row timeline-row">
      <div class="col content-timeline-left">
        <h3>Sign up</h3>
        <p>Create an account to join the <strong>Momenters community</strong></p>
      </div>
      <div class="col timeline-card-arrow">
          <div class="timeline-div-arrow-left">
            <div class="div-arrow-rounded">
              <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
          <div class="card-timeline">
            <div class="number-card-timeline">
              <h3>1</h3>
            </div>
            <div class="card-timeline-infos">
              <%= image_tag "signup.png", alt: "Sign up", width: 75, height: 75 %>
            </div>
          </div>
      </div>
    </div>

    <%# TIMELINE ROW 2 %>
    <div class="row timeline-row">
      <div class="col timeline-card-arrow">
          <div class="card-timeline">
            <div class="number-card-timeline">
              <h3>2</h3>
            </div>
           <div class="card-timeline-infos">
              <%= image_tag "promotion.png", alt: "Promotion", width: 75, height: 75 %>
            </div>
          </div>
          <div class="timeline-div-arrow-right">
            <div class="div-arrow-rounded-right">
             <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
      </div>
      <div class="col content-timeline-right">
        <div class="ps-5">
          <h3>Invite your friends</h3>
          <p>Get the <strong>ones you love</strong> and you want to spend time with</p>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 3 %>
    <div class="row timeline-row">
      <div class="col content-timeline-left">
        <h3>Plan ahead</h3>
        <p>Create your <strong>first Moment</strong> and plan everything in one place so you can focus on enjoying with your friends</p>
      </div>
      <div class="col timeline-card-arrow">
          <div class="timeline-div-arrow-left">
            <div class="div-arrow-rounded">
              <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
          <div class="card-timeline">
            <div class="number-card-timeline">
              <h3>3</h3>
            </div>
            <div class="card-timeline-infos">
              <%= image_tag "check-mark.png", alt: "Plan ahead", width: 75, height: 75 %>
            </div>
          </div>
      </div>
    </div>

    <%# TIMELINE ROW 4 %>
    <div class="row timeline-row">
      <div class="col timeline-card-arrow">
          <div class="card-timeline">
            <div class="number-card-timeline">
              <h3>4</h3>
            </div>
           <div class="card-timeline-infos">
              <%= image_tag "camera.png", alt: "Create Memories", width: 75, height: 75 %>
            </div>
          </div>
          <div class="timeline-div-arrow-right">
            <div class="div-arrow-rounded-right">
             <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
      </div>
      <div class="col content-timeline-right">
        <div class="ps-5">
          <h3>Create friends</h3>
          <p>Keep tracks of <strong> all yours trips </strong> (photos, activities) in one place </p>
        </div>
      </div>
    </div>

    <%# TIMELINE ROW 5 %>
    <div class="row timeline-row">
      <div class="col content-timeline-left">
        <h3>Shared with your <br> loved ones</h3>
        <p>Share your memories <strong>easily on social networks</strong> with auto-edited content</p>
      </div>
      <div class="col timeline-card-arrow">
          <div class="timeline-div-arrow-left">
            <div class="div-arrow-rounded">
              <%= image_tag "right-arrow.png", alt: "arrow", width: 20, height: 20 %>
            </div>
          </div>
          <div class="card-timeline">
            <div class="number-card-timeline">
              <h3>5</h3>
            </div>
            <div class="card-timeline-infos">
              <%= image_tag "online-match.png", alt: "Shared", width: 75, height: 75 %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<%# END TIMELINE %>
